UCD_ann_cens_full_list.csv
UCD_high_priority_list.csv
UCD_high_priority_list.xlsx
WL2_mort_pheno_20240709_corrected_dataprobs.csv
WL2_mort_pheno_20240716_corrected_dataprobs.csv
WL2_mort_pheno_20240806_corrected_dataprobs.csv
WL2_mort_pheno_20240924_corrected_dataprobs.csv
WL2_mort_pheno_20241023_corrected_dataprobs.csv
WL2_size_survey_20240618_corrected_dataprobs.csv
WL2_size_survey_20240625_corrected_dataprobs.csv
WL2_size_survey_20240703_corrected_dataprobs.csv
WL2_size_survey_20240709_corrected_dataprobs.csv
WL2_size_survey_20240716_corrected_dataprobs.csv
WL2_size_survey_20240723_corrected_dataprobs.csv
WL2_size_survey_20240730_corrected_dataprobs.csv
WL2_size_survey_20240806_corrected_dataprobs.csv
WL2_size_survey_20240820_corrected_dataprobs.csv
WL2_size_survey_20240827_corrected_dataprobs.csv
WL2_size_survey_20240903_rescan_corrected_dataprobs.csv
WL2_size_survey_20240910_corrected_dataprobs.csv
WL2_size_survey_20240924_corrected_dataprobs.csv
mort_pheno_template_0723.csv
