.DS_Store
UCD_mort_pheno_20240908_corrected_dataprobs.csv
UCD_size_survey_20231214_corrected_dataprobs.csv
UCD_size_survey_20240105_corrected_dataprobs.csv
UCD_size_survey_20240112_corrected_dataprobs.csv
UCD_size_survey_20240119_corrected_dataprobs.csv
UCD_size_survey_20240126_corrected_dataprobs.csv
UCD_size_survey_20240202_corrected_dataprobs.csv
UCD_size_survey_20240209_corrected_dataprobs.csv
UCD_size_survey_20240223_corrected_dataprobs.csv
UCD_size_survey_20240311_corrected_dataprobs.csv
UCD_size_survey_20240426_corrected_dataprobs.csv
UCD_size_survey_20240516_corrected_dataprobs.csv
UCD_size_survey_bedsABC_20240405_corrected_dataprobs.csv
UCD_size_survey_bedsABC_20240419_corrected_dataprobs.csv
UCD_size_survey_bedsABC_20240503_corrected_dataprobs.csv
UCD_size_survey_bedsDEF_20240325_corrected_dataprobs.csv
UCD_size_survey_bedsDEF_20240510_corrected_dataprobs.csv
anncens_probs.csv
